<% if(locals.success && locals.success.length){ %>
<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
  <%= locals.success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>

<% if(locals.error && locals.error.length){ %>
<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
  <%= locals.error %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>